<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/weather.css">
</head>
<body>
    <div class="wrapper">
        <h1>Select city</h1>
        <div class="container">
            {{#each weather.cities}}
            <a href="/weather/{{this}}" class="button">
                <div class="row">{{this}}</div>
            </a>
            {{/each}}
        </div>
    </div>
</body>
</html>
